[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

[class^="icon-payfazz-page-contact-"] {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
.icon-payfazz-page-contact-address {
  background: #2669BB url(../img/payfazz/payfazz-icon-contact-home.svg) no-repeat center center;
}
.icon-payfazz-page-contact-cs { 
  background: #2669BB url(../img/payfazz/payfazz-icon-contact-cs.svg) no-repeat center center; 
}
.icon-payfazz-page-contact-partner {
  background: #2669BB url(../img/payfazz/payfazz-icon-contact-partner.svg) no-repeat center center;
}
.icon-payfazz-page-contact-faq {
  background: #2669BB url(../img/payfazz/payfazz-icon-contact-faq.svg) no-repeat center center;
}

/* ICON AGEN  */
[class^="con-agen-contact-"] {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
.icon-agen-contact-telp {
  background: url(../img/agen/icon-contact-telp.svg) no-repeat center;
}
.icon-agen-contact-mail {
  background: url(../img/agen/icon-contact-mail.svg) no-repeat center;
}
.icon-agen-contact-clock {
  background: url(../img/agen/icon-contact-clock.svg) no-repeat center;
}

[class^="con-agen-socmed-"] {
  width: 26px;
  height: 26px;
}
.icon-agen-socmed-instagram {
  background: url(../img/agen/icon-contact-instagram.svg) no-repeat center;
}
.icon-agen-socmed-youtube {
  background: url(../img/agen/icon-contact-youtube.svg) no-repeat center;
}
.icon-agen-socmed-facebook {
  background: url(../img/agen/icon-contact-facebook.svg) no-repeat center;
}
.icon-agen-socmed-twitter {
  background: url(../img/agen/icon-contact-twitter.svg) no-repeat center;
}

[class^="con-agen-share-"] {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 8px;
}
.icon-agen-share-facebook {
  background: var(--color-product-payfazz) url(../img/agen/icon-share-facebook.svg) no-repeat center;
}
.icon-agen-share-twitter {
  background: var(--color-product-payfazz) url(../img/agen/icon-share-twitter.svg) no-repeat center;
}
.icon-agen-share-linkedin {
  background: var(--color-product-payfazz) url(../img/agen/icon-share-linkedin.svg) no-repeat center;
}
.icon-agen-search {
  width: 24px;
  height: 24px;
  background: url(../img/agen/icon-search.svg) no-repeat center;
}
.icon-agen-breadcrumb-back {
  width: 24px;
  height: 24px;
  background: url(../img/agen/icon-breadcrumb-back.svg) no-repeat center;
}

/* icon alat warung  */
[class^="icon-agen-menu-"] {
  width: 24px;
  height: 24px;
  background-size: contain;
}
.icon-agen-menu-catat-hutang {
  background: url(../img/agen/icon-product-catat-utang-40x40.svg) no-repeat center;
}
.icon-agen-menu-agen-terdekat {
  background: url(../img/agen/icon-product-agen-terdekat-40x40.svg) no-repeat center;
}
.icon-agen-menu-warung-online {
  background: url(../img/agen/icon-product-warung-online-40x40.svg) no-repeat center;
}
.icon-agen-menu-kasir-warung {
  background: url(../img/agen/icon-product-kasir-warung-40x40.svg) no-repeat center;
}
.icon-agen-menu-atur-harga-jual {
  background: url(../img/agen/icon-product-atur-harga-jual-40x40.svg) no-repeat center;
}
/* icon pabayar  */
.icon-agen-menu-data {
  background: url(../img/agen/icon-product-atur-data-40x40.svg) no-repeat center;
}
.icon-agen-menu-pulsa-seluler {
  background: url(../img/agen/icon-product-atur-pulsa-seluler-40x40.svg) no-repeat center;
}
.icon-agen-menu-token-pln {
  background: url(../img/agen/icon-product-atur-token-pln-40x40.svg) no-repeat center;
}
/* icon pascabayar  */
.icon-agen-menu-pascabayar-seluler {
  background: url(../img/agen/icon-product-atur-pascabayar-seluler-40x40.svg) no-repeat center;
}
.icon-agen-menu-taginah-pln {
  background: url(../img/agen/icon-product-tagihan-pln-40x40.svg) no-repeat center;
}
.icon-agen-menu-pgn {
  background: url(../img/agen/icon-product-atur-pgn-40x40.svg) no-repeat center;
}
.icon-agen-menu-bpjs {
  background: url(../img/agen/icon-product-atur-bpjs-40x40.svg) no-repeat center;
}
.icon-agen-menu-pdam {
  background: url(../img/agen/icon-product-pdam-40x40.svg) no-repeat center;
}
.icon-agen-menu-tv-berlangganan {
  background: url(../img/agen/icon-product-atur-tv-berlangganan-40x40.svg) no-repeat center;
}
.icon-agen-menu-telkom {
  background: url(../img/agen/icon-product-atur-telkom-40x40.svg) no-repeat center;
}
.icon-agen-menu-multifinance {
  background: url(../img/agen/icon-product-atur-multifinance-40x40.svg) no-repeat center;
}
/* icon grosir  */
.icon-agen-menu-grosir {
  background: url(../img/agen/icon-product-grosir-40x40.svg) no-repeat center;
}

.icon-agen-menu-arrow-down {
  width: 15px;
  height: 9px;
  background: url(../img/agen/icon-menu-arrow-down-white.svg) no-repeat center;
}

/* ICON MASTERAGEN  */
.icon-bank-indonesia {
  width: 101px;
  height: 18px;
  background: url(../img/masteragen/bank_indonesia_logo.png) no-repeat center;
  background-size: 100%;
}
.icon-phone-white,
.icon-email-white,
.icon-clock-white {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  background: url(../img/masteragen/icon-phone.svg) no-repeat center;
}

.icon-email-white {
  background-image: url(../img/masteragen/icon-email.svg);
}
.icon-clock-white {
  background-image: url(../img/masteragen/icon-clock.svg);
}

.icon-facebook-circle-white,
.icon-instagram-circle-white,
.icon-youtube-circle-white,
.icon-linkedin-circle-white {
  width: 30px;
  height: 30px;
  background: url(../img/masteragen/icon-facebook.svg) no-repeat center;
}

.icon-instagram-circle-white {
  background-image: url(../img/masteragen/icon-instagram.svg);
}
.icon-youtube-circle-white {
  background-image: url(../img/masteragen/icon-youtube.svg);
}
.icon-linkedin-circle-white {
  background-image: url(../img/masteragen/icon-linkedin.svg);
}

.icon-contact-home,
.icon-contact-cs,
.icon-contact-globe,
.icon-contact-question {
  width: 40px;
  height: 40px;
  background: url(../img/masteragen/icon-contact-home.svg) no-repeat center;
}

.icon-contact-cs {
  background-image: url(../img/masteragen/icon-contact-cs.svg);
}
.icon-contact-globe {
  background-image: url(../img/masteragen/icon-contact-globe.svg);
}
.icon-contact-question {
  background-image: url(../img/masteragen/icon-contact-question.svg);
}

[class^="icon-masteragen-fitur"] {
  width: 24px;
  height: 24px;
}
.icon-masteragen-fitur-kirim-tunai {
  background: url(../img/masteragen/icon-menu-kirim-tunai.svg) no-repeat center;
}
.icon-masteragen-fitur-tarik-tunai {
  background: url(../img/masteragen/icon-menu-tarik-tunai.svg) no-repeat center;
}
.icon-masteragen-fitur-pulsa {
  background: url(../img/masteragen/icon-menu-pulsa.svg) no-repeat center;
}
.icon-masteragen-fitur-token-pln {
  background: url(../img/masteragen/icon-menu-token-pln.svg) no-repeat center;
}
.icon-masteragen-fitur-data {
  background: url(../img/masteragen/icon-menu-data.svg) no-repeat center;
}
.icon-masteragen-fitur-elektronik {
  background: url(../img/masteragen/icon-menu-uang-elektronik.svg) no-repeat center;
}
.icon-masteragen-fitur-deposit {
  background: url(../img/masteragen/icon-menu-deposit.svg) no-repeat center;
}
.icon-masteragen-fitur-transfer-bank {
  background: url(../img/masteragen/icon-menu-transfer-bank.svg) no-repeat center;
}

/* icon post link  */
[class^="icon-post-link-"] {
  width: 16px;
  height: 16px;
}
.icon-post-link-agen {
  background: url(../img/agen/icon-read-more.svg) no-repeat center;
}
.icon-post-link-masteragen {
  background: url(../img/masteragen/icon-post-link-masteragen.svg) no-repeat center;
}

.icon-menu-arrow-down {
  width: 12px;
  height: 12px;
  background: url(../img/masteragen/icon-menu-arrow-down.svg) no-repeat center;
}

.icon-menu-arrow-down-white {
  width: 12px;
  height: 12px;
  background: url(../img/masteragen/icon-menu-arrow-down-white.svg) no-repeat center;
}


[class^="icon-payfazz-socmed"] {
  width: 16px;
  height: 16px;
  background-size: contain;
}
.icon-payfazz-socmed-instagram {
  background: url(../img/payfazz-socmed-instagram.svg) no-repeat center;
}
.icon-payfazz-socmed-facebook {
  background: url(../img/payfazz-socmed-facebook.svg) no-repeat center;
}
.icon-payfazz-socmed-twitter {
  background: url(../img/payfazz-socmed-twitter.svg) no-repeat center;
}
.icon-payfazz-socmed-linkedin {
  background: url(../img/payfazz-socmed-linkedin.svg) no-repeat center;
}
.icon-payfazz-socmed-youtube {
  background: url(../img/payfazz-socmed-youtube.svg) no-repeat center;
}

[class^="icon-payfazz-contact"] {
  width: 18px;
  height: 18px;
  background-size: contain;
  margin-right: 10px;
}
.icon-payfazz-contact-phone {
  background-image: url(../img/fazz-icon-phone.svg);
}
.icon-payfazz-contact-email {
  background-image: url(../img/fazz-icon-email.svg);
}
.icon-payfazz-contact-clock {
  background-image: url(../img/fazz-icon-clock.svg);
}

.icon-payfazz-to-top {
  width: 24px;
  height: 24px;
  background-image: url(../img/icon-payfazz-to-top.svg);
  background-size: contain;
}


//
[class^="icon-main_nav-"] {
  display: inherit;

  a {
    &:before {
      content: "";
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 24px 48px;
      width: 24px;
      height: 24px;
      position: absolute;
      left: 20px;
      top: 20px;
    }

    &:hover {
      &:before {
        background-position: 0 -24px;
      }
    }
  }
}