/* PAGE CONTACT
** ------------------------------------ */

.contact-section__header-one {
	margin-bottom: 20px;
}

.contact-section__header-three {
	margin-bottom: 4px;
}

.contact-section__paragraph {
	color: $color-black-59;
	margin-bottom: 38px;
}

.contact-section__form-control__input {
	margin-bottom: 12px;
}

.contact-section__form-control__textarea {
	margin-bottom: 15px;
}

.contact-section__hr {
	margin: auto;
	border-bottom: 1px solid $color-black-12;
}

.contact-section__hero-image {
	padding-top: 157px;
}

.contact-section__hero-image__paragraph {
	margin-bottom: 38px;
}

.contact_section__hero-image__hr {
	width: 136px;
	margin-bottom: 97px;
}

.contact-section__content {
	margin-bottom: 203px;
}

.contact-section__content__paragraph--address {
	line-height: 1.875;
	margin-bottom: 30px;
}

.contact-section__content__hr {
	margin-bottom: 30px;
}