/* PAGE PRODUCT
** ------------------------------------ */
.product-section {
  background-color: $color-white;
  border-bottom: 1px solid $color-black-4;
}

.product-section--testimonial {
  padding-bottom: 140px;
}
