/* PAGE PRODUCT
** ------------------------------------ */
.product-section {
  overflow-x: hidden;
  background-color: $color-white;
  border-bottom: 1px solid $color-black-4;
}

.product-section {
  img {
    max-width: 100%;
    display: block;
  }
}

.product-section__offset-1 {
  margin-left: 8.3333%;
}

.product-section__offset-2 {
  margin-left: 16.6667%;
}

.product-section__offset-3 {
  margin-left: 25%;
}

.product-section__offset-6 {
  margin-left: 50%;
}

.product-section__heading-two {
  margin-bottom: 20px;
}

.product-section__paragraph {
  color: $color-black-59;
  margin-bottom: 20px;
}

.product-section__hero-image {
  padding-top: 150px;
  padding-bottom: 86px;
}

.product-section__hero-image__heading-one {
  font-size: 64px;
  margin-top: 72px;
  margin-bottom: 16px;
}

.product-section__hero-image__paragraph {
  margin-bottom: 110px;
}

.product-section__hero-image__thumbnail {
  position: relative;

  img {
    display: block;
  }
}

.product-section__hero-image__thumbnail--one {
  margin-left: 50px;
  margin-top: 72px;
}

.product-section__hero-image__phone-container {
  width: 125%;
  height: auto;
  position: absolute;
  left: 50px;
  top: 0;
}

.product-section__hero-image__mask {
  overflow: hidden;
  display: inline-block;
  border-radius: 20px;
}

.product-section__hero-image__flag {
  font-size: 18px;
  font-weight: 700;
  height: 43px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 21.5px;
  border-top-right-radius: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.product-section__hero-image__flag--payfazz-blue {
  background-color: $color-payfazz-blue;
}

.product-section__hero-image__flag--yellow {
  background-color: $color-yellow;
}


.product-section__solution {
  padding-top: 98px;
}

.product-section__solution__grid--offset-1 {
  margin-left: 8.3333%;
}

.product-section__solution__grid--offset-2 {
  margin-left: 19.2424%;
}

.product-section__solution__grid--offset-3 {
  margin-left: 2.7272%;
  padding-top: 4.3181%;
}

.product-section__solution__box {
  display: inline-block;
  background-color: $color-white;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 14px;
  border-radius: 20px;
  box-shadow: 0 4px 40px rgba($color-black, 0.1);
}

.product-section__solution__box__title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 0.625;
  display: block;
  margin-bottom: 6px;

  span {
    font-size: 20px;
    color: $color-payfazz-blue;
  }
}

.product-section__solution__box__description {
  display: block;
}


.product-section__masteragen {
  padding-top: 79px;
  padding-bottom: 79px;
}

.product-section__masteragen__logo {
  width: 180px !important;
  height: 49.7px !important;
  margin-top: 190px;
  margin-bottom: 40px;
}

.product-section__agen {
  padding-top: 79px;
  padding-bottom: 117px;
}

.product-section__agen__logo {
  width: 180px !important;
  height: 49.7px !important;
  margin-top: 150px;
  margin-bottom: 40px;
}


.product-section__mobile {
  padding-top: 117px;
  padding-bottom: 48px;
}

.product-section__mobile__logo {
  width: 183px !important;
  height: 61px !important;
  margin-top: 105px;
  margin-bottom: 40px;
}

.product-section__testimonial {
  padding-top: 140px;
  padding-bottom: 140px;

  h1 {
    margin-bottom: 50px;
  }
}

.testimonial-swiper {
  width: 100%;
}

.testimonial-swiper__wrapper {
  margin-bottom: 50px;
}

.testimonial-swiper__slide {
  border: 1px solid $color-black-12;
  border-radius: 8px;

  @media (min-width: 576px) {
    width: $max-width-sm;
  }
  @media (min-width: 768px) {
    width: calc($max-width-md / 2);
  }
  @media (min-width: 992px) {
    width: calc($max-width-lg / 2);
  }
  @media (min-width: 1200px) {
    width: 540px;
  }
}

.testimonial-swiper__image-container {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 15px;
}

.testimonial-swiper__image-mask {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial-swiper__text-container {
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 30px;
}

.testimonial-swiper__quote-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
}

.testimonial-swiper__description {
  color: $color-black-59;
  margin-bottom: 50px;
}

.testimonial-swiper__owner {
  font-weight: 500;
  margin-bottom: 40px;
}

.swiper-pagination {
  display: -webkit-box !important;
    display: -ms-flexbox !important;
      display: flex !important;
  -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
      justify-content: center !important;
}

.swiper-pagination-bullet {
  background-color: $color-black-14;
  width: 8px;
  height: 8px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 50%;

  &.swiper-pagination-bullet-active {
    background-color: $color-payfazz-blue !important;
  }
}