body {
	font-family: 'Fazz Neue', sans-serif;
	font-size: 1rem;
  font-weight: 400;
  color: var($color-black-59);
}

/* Title
** ------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 125%;
  font-weight: normal;
}

/* Paragraf
** ------------------------------------ */
p {
  line-height: 150%;
  margin: 0;
  letter-spacing: 0.01em;
}

/* Strong and Bold
** ------------------------------------ */
b { font-weight: 500; }

strong { font-weight: bold; }

/* Span
** ------------------------------------ */
span {
  line-height: 150%; 
}

/* Link
** ------------------------------------ */ 
a {
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  line-height: 150%;
}
a,
a:hover,
a:active {
  text-decoration: none;
}