$variable-prefix: 'pz-';

//colors
$color-black: #000000;
$color-black-89: #1C1C1C;
$color-black-80: #333333;
$color-black-77: #3A3A3A;
$color-black-71: #4B4B4B;
$color-black-59: #585858;
$color-black-54: #757575;
$color-black-41: #969696;
$color-black-14: #DBDBDB;
$color-black-12: #E0E0E0;
$color-black-4: #F5F5F5;
$color-white: #FFFFFF;

$color-lightgrey: #F2F4F5;

// theme colors
$color-payfazz-blue: #3B8EF3;				// payfazz
$color-dark-blue: #1B4180;	// primary masteragen
$color-yellow: #F2C900;			// secondary masteragen
$color-green: #31B057;			// product maqmur

$colors: (
	'color-black': $color-black,
	'color-black-89': $color-black-89,
	'color-black-80': $color-black-80,
	'color-black-77': $color-black-77,
	'color-black-59': $color-black-59,
	'color-black-54': $color-black-54,
	'color-black-14': $color-black-14,
	'color-black-12': $color-black-12,
	'color-white': $color-white,
	'color-payfazz-blue': $color-payfazz-blue,
	'color-dark-blue': $color-dark-blue,
	'color-yellow': $color-yellow,
	'color-green': $color-green
);

// max widths
$max-width-sm: 540px;
$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1160px;
$max-width-xxl: 1320px;

